/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: #121212; /* Siyah arka plan */
    color: white; /* Yazı rengi beyaz */
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Tüm ekran yüksekliğini kapsa */
  }
  