body {
  background-color: #121212; /* Mat siyah arka plan */
  color: white; /* Yazı rengi beyaz */
}

.market-list {
  display: flex; /* Flexbox ile yan yana dizme */
  justify-content: space-between; /* İki market arasında boşluk bırak */
  width: 100%; /* Ana genişlik */
}

.market-card {
  background-color: #1e1e1e; /* Market kartı arka plan rengi */
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #333; /* Sınır rengi */
  width: calc(50% - 10px); /* Her kart %50 genişliğinde */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Gölgelendirme */
}

table {
  width: 100%; /* Tablo genişliği */
  border-collapse: collapse; /* Kenar boşluklarını kaldır */
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd; /* Tablo sınır rengi */
}

th, td {
  padding: 8px; /* Hücre iç boşlukları */
  text-align: left; /* Soldan hizala */
  color: white; /* Tablo yazı rengi beyaz */
  background-color: #2c2c2c; /* Hücre arka plan rengi */
}

th {
  background-color: #3c3c3c; /* Başlık hücre arka plan rengi */
}
