<div class="market-list">
  <div class="market-card" *ngFor="let market of filteredMarkets">
   
    <table>
      <thead>
        <h2 >{{ market.name }}</h2>
       
        <tr>
          <th>Reyon</th>
          <th>Tür</th>
          <th>Ürünler</th>
          <th>      <button class="btn btn-secondary" (click)="showAddSectionModal(filteredMarkets)">Reyon Ekle</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let section of market.sections">
          <td>{{ section.id }}</td>
          <td>{{ section.type }}</td>
          <td>
            <span *ngFor="let product of section.products" class="product-label">{{ product.name }}</span>
          </td>
          <td>
            <button class="btn btn-primary" (click)="showAddProductModal(market.sections)">Ürün Ekle</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
