<div class="market-list">
  <div class="market-card" *ngFor="let market of filteredMarkets">
    <h2>{{ market.name }}</h2>
    
    <table>
      <thead>
        <tr>
          <th>Reyon</th>
          <th>Tür</th>
          <th>Ürünler</th>
          <th>Aksiyon</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let section of market.sections">
          <td>{{ section.id }}</td>
          <td>{{ section.type }}</td>
          <td>
            <span *ngFor="let product of section.products">{{ product }} </span>
          </td>
          <td>
            <td><button class="btn btn-primary" (click)="showAddProductModal(section)">Ürün Ekle</button></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-secondary" (click)="showAddSectionModal(market)">Reyon Ekle</button>
  </div>
</div>
